html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin:0;
    line-height: 1;
}

.p--sm-light {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
}

.p--sm {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p--md {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p--lg {
    font-family: proxima-nova, sans-serif;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.heading1 {
    color: #800000;
    font-family: PT Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.heading2 {
    color: #000;
    font-family: PT Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.heading3 {
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

.page {
    margin-top: 60px;
    margin-bottom: 60px;
}

.textBlock:not(:last-child) {
    margin-bottom: 50px;
}

.textBlock:not(:first-child) {
    margin-top: 50px;
}

.textBlock .p--lg:not(:last-child) {
    margin-bottom: 25px;
}

.header__nativeAmericans {
    background-color: #800000;
}

.header__nativeAmericans h3 {
    color: #fff;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
}

.header__nav ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0;
}

.header__nav ul.nav-open {
    max-height: 500px;
}

.header__nav ul li {
    text-align: left;
    padding: 15px 0;
}

.header__nav ul li a {
    text-decoration: none;
    color: #008000;
    font-family: proxima-nova, sans-serif;
}

.header__nav li.selected {
    border-bottom: 5px solid;
}

.header__nav .selected a {
    color: #000;
}

.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
}

.toggle-button.active {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.toggle-button .bars {
    height: 20px;
    width: 30px;
    position: relative;
}

.toggle-button .bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s, opacity 0.3s;
}

.toggle-button .bar:nth-child(1) {
    top: 0;
}

.toggle-button .bar:nth-child(2) {
    top: 8px;
}

.toggle-button .bar:nth-child(3) {
    top: 16px;
}

.toggle-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}

.toggle-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 900px) {
    .header__nav ul {
        max-height: none !important;
        margin: 0 auto;
    }

    .header__nav {
        flex-direction: row !important;
        height: 80px;
    }

    .header__nav ul {
        display: flex !important;
        justify-content: space-between;
        gap: 50px;
        align-items: flex-end;
    }

    .header__nav ul li {
        max-width: 202px;
        text-align: center;
    }

    .toggle-button {
        display: none;
    }
}


.footer {
    background-color: #EEE;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer p {
    margin-bottom: 20px;
}

.footer hr {
    border: 1px solid #ccc;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    gap: 20px;
}

.footer__nav li a {
    color: #800000;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

.footer__nav li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer__nav li:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: 20px;
}

.mediaBlock {
    background-color: #EEE;
    padding-top: 35px;
    padding-bottom: 35px;
}

.mediaBlock .container {
    display: flex;
    gap: 50px;
}

.mediaBlock.reverse .container {
    flex-direction: row-reverse;
}

.mediaBlock .mediaBlock__text, .mediaBlock .mediaBlock__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mediaBlock__image .p--sm {
    text-align: center;
    margin-top: 25px;
}

.mediaBlock .mediaBlock__text .p--lg:not(:last-child) {
    margin-bottom: 25px;
}

/* Options for Media Block with 2 images  */

.mediaBlock__images {
    background-color: #fff;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mediaBlock__images .p--sm {
    text-align: left;
}

.mediaBlock__images .mediaBlock__image {
    justify-content: flex-start;
}

/* ... */

.page:last-child {
    padding-bottom: 0;
}

.timeline {
    margin-top: 19.5px;
}

.timeline hr {
    border: none;
    height: .5px;
    background-color: #000;
    margin: 0;
    width: calc(100% - 150px);
    margin: auto;
    margin-bottom: -19.5px;
}

.timeline ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.timeline a {
    display: flex;
    flex-direction: column;
    color: #800000;
    margin-bottom: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.timeline li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 149px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.timeline li::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 39px;
    height: 39px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39"><circle cx="19.5" cy="19.5" r="19.25" fill="%23FFFFFF" /><circle cx="19.5" cy="19.5" r="19.25" fill="transparent" stroke="black" stroke-width="0.5" /><circle cx="19.5" cy="19.5" r="6.5" fill="%23800000" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.timeline li:hover::before, .timeline .selected::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39"><circle cx="19.5" cy="19.5" r="19.25" fill="%23800000" /><circle cx="19.5" cy="19.5" r="19.25" fill="transparent" stroke="black" stroke-width="0.5" /><circle cx="19.5" cy="19.5" r="6.5" fill="%23FFFFFF" /></svg>');
}

.timeline li:hover a, .timeline .selected a {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .mediaBlock .container, .mediaBlock.reverse .container{
        flex-direction: column;
    }
}